h1{color: blueviolet; text-transform: capitalize; text-decoration: overline;
    text-align: center;

}

.row1{font-weight: bold;}

table {text-align: center;}

.greencell{background-color: lightgreen; color: plum;}